<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render "navbar" %>
    <% @ads.each do |ad| %>
      <%= ad.title %>
    <% end %>
  </body>
</html>
