@import "bootstrap";
@import "style";

@font-face {
  font-family: "chicoree";

  /* Браузер сначала попробует найти шрифт локально */
  src: local("chicoree"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/ofont.ru_Adventure Indiana.ttf") format("woff"),
       /* Если браузер не поддерживает woff2, загрузит woff */
}


.fixed2 { display: inline; }
/* Smartphone Portrait and Landscape */
@media only screen

and (min-device-width : 200px)
and (max-device-width : 1919px){ .fixed2 { display: none; }}
