<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render "navbar" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-0 col-lg-2">
          <br><br><br>
          <h6>Vip-Объявления</h6>
          <hr>
          <%= render 'dependens/vipads' %>
          <hr>
        </div>
        <div class="col-12 col-lg-8">
          <%= render 'categories' %>
        </div>
        <div class="col-0 col-lg-2">

        </div>
      </div>
    </div>

  </body>
</html>
